body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.logo {
  width: 150px;
  height: 100px;
}
.auth-buttons {
  color: white;
  margin-left: auto;
}

.modal-dialog {
  color: black;
}

.photo {
  width: 90px;
  height: 70px;
  margin: 10px;
}

.detail-field {
  background-color: white;
  color: black;
}

.home-container {
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 20px;
}

.loading {
  margin: auto;
  text-align: center;
  font-size: 200%;
}

.hidden {
  display: none;
}

.new-offer-container {
  margin: 10px;
  align-self: stretch;
  justify-content: space-between;
}

.modal-dialog {
  color: black;
}

.p {
  font-size: 90%;
}

.subtitle {
  font-size: 120%;
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.new-password-form {
  background: white;
  color: black;
  padding: 10px;
  text-align: center;
  width: 30%;
  margin: auto;
  border-radius: 10px;
}

.email-activated {
  text-align: center;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  background-color: #388ce9;
  color: white;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained:hover {
  background-color: #1a689b;
  color: white;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.Mui-disabled {
  background-color: #b9b9b9;
  color: black;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.remove-btn {
  background-color: #b10d24;
  color: white;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.remove-btn:hover {
  background-color: #7d0b1b;
  color: white;
}

.new-offer-download-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  width: "100%";
  margin: "auto";
}

.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
  height: 300px;
  width: "80%";
  object-fit: "contain";
}

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  width: "100%";
}

.MuiTableContainer-root {
  margin-top: "5px";
  margin-bottom: "10px";
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignCenter.MuiTableCell-sizeSmall.MuiTableCell-stickyHeader {
  font-size: large;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter.MuiTableCell-sizeSmall {
  font-size: large;
}
